#map {
    height: 750px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#treeList {
    max-height: 400px;
    overflow-y: auto;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

#treeList {
    max-height: 290px;
    /* Ajusta esta altura según el tamaño de tus elementos */
    overflow-y: auto;
}

/* Personalizar la barra de desplazamiento */
#treeList::-webkit-scrollbar {
    width: 12px;
    /* Ancho de la barra de desplazamiento */
}

#treeList::-webkit-scrollbar-thumb {
    background-color: #04b36157;
    /* Color del pulgar de la barra de desplazamiento */
    border-radius: 10px;
    /* Bordes redondeados del pulgar */
    border: 3px solid #ffffff;
    /* Espacio alrededor del pulgar */
}

#treeList::-webkit-scrollbar-track {
    background-color: #eeeeee;
    /* Color de la pista de la barra de desplazamiento */
    border-radius: 10px;
    /* Bordes redondeados de la pista */
}

.leaflet-popup-content-wrapper {
    background-color: #eafff5;
    color: #00240c;
    font-size: 14px;
}