
#map {
    height: 80vh;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    #map {
        height: 50vh;
        /* Ajusta la altura del mapa en dispositivos móviles */
    }
}

.navbar {
    background: linear-gradient(#fdfdfd, #dadada);
    padding: 17px;
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eff7ef;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#treeList {
    max-height: 58vh;
    /* Ajusta esta altura según el tamaño de tus elementos */
    overflow-y: auto;
}

/* Personalizar la barra de desplazamiento */
#treeList::-webkit-scrollbar {
    width: 12px;
    /* Ancho de la barra de desplazamiento */
}

#treeList::-webkit-scrollbar-thumb {
    background-color: #04b33e6b;
    /* Color del pulgar de la barra de desplazamiento */
    border-radius: 10px;
    /* Bordes redondeados del pulgar */
    border: 3px solid #ffffff;
    /* Espacio alrededor del pulgar */
}

#treeList::-webkit-scrollbar-track {
    background-color: #eeeeee;
    /* Color de la pista de la barra de desplazamiento */
    border-radius: 10px;
    /* Bordes redondeados de la pista */
}

.leaflet-popup-content-wrapper {
    background-color: #eafff5;
    color: #00240c;
    font-size: 14px;
}

.popup-content {
    display: flex;
    align-items: center;
}

.popup-image-container {
    flex-shrink: 0;
    margin-right: 10px;
    position: relative;
}

.tree-image {
    width: 100px;
    /* Ajusta el tamaño de la imagen en el popup */
    height: auto;
    cursor: pointer;
    display: block;
    border-radius: 5px;
}

.tree-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.popup-text {
    flex-grow: 1;
}

/* Estilos para el modal de imagen */
.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    animation: fadeIn 0.5s;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: zoomIn 0.5s;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

/*personaliza los select para que vayana a juego con el diseño de la página*/
.form-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-select:focus {
    border-color: #5cb85c;
    box-shadow: 0 0 10px #5cb85c80;
}

/*cambia el color del item del select cuando pasamos el raton que por defecto es rojo*/
.form-select option:hover {
    background-color: #5cb85c;
    color: white;
}